---
import { BaseLayout } from '@snipbit/layouts';
import { Header, SignInTest } from 'src/components';
---

<BaseLayout title="Dashboard">
  <Header />
  <h1 class="text-slate-50">Dashboard</h1>
  <SignInTest />
</BaseLayout>
