---
import { BaseLayout } from '@snipbit/layouts';
import { SignIn } from '@snipbit/features/auth/components';
---

<BaseLayout>
  <div
    class="pt-20 flex flex-col items-center justify-center min-w-full min-h-full"
  >
    <SignIn />
  </div>
</BaseLayout>
