---
import {
  SignedIn,
  SignedOut,
  // UserButton,
  // SignInButton,
} from '@clerk/astro/components';
---

<SignedIn>
  <p class="text-slate-50">Signed In</p>
</SignedIn>

<SignedOut>
  <p class="text-slate-50">Signed Out</p>
</SignedOut>
